@font-face{
    font-family:'Spoqa Han Sans Neo';
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Regular.eot');
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Spoqa Han Sans Neo';
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Bold.eot');
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face{
    font-family:'Spoqa Han Sans Neo';
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Medium.eot');
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family:'Spoqa Han Sans Neo';
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Light.eot');
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family:'Spoqa Han Sans Neo';
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Thin.eot');
    src:url('/resources/assets/fonts/SpoqaHanSansNeo-Thin.eot?#iefix') format('embedded-opentype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype'),
    url('/resources/assets/fonts/SpoqaHanSansNeo-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

.input-chk-btn{
    display:none;
    width:0;
    height:0;
}
.input-chk-btn + label{
    position:relative;
    padding:6px 14px;
    margin: 0 6px 8px 0;
    box-sizing:border-box;
    border:1px solid #96a2af;
    color:#96a2af;
    font-size:14px;
    cursor: pointer;
    transition:.3s;

}
.input-chk-btn:checked + label{
    background:var(--sdc-main-color);
    border-color:var(--sdc-main-color);
    color:#fff;
}
