.bc22 {
    color: #fff;
    background-color: #282F44;
    border: 2px solid#282F44;
}
.bc22:hover {
    background-color:#fff;
    cursor: pointer;
    color: #282F44;
}

.input-form2 { /* 얇고 각진 input */
    padding: 2px 10px;
    display: inline;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-form2:focus {
    box-shadow: 0 0 0 0.1rem #eee;
}
#nameIdSerarch-Box>form>select{
    padding: 2px 10px;
    width: 100px; 
    height: 30.19px; 
    border: 1px solid #ccc;
}

/*다운로드 */
#memberlist-btn{
    position: absolute;
    right: 240px;
}