.bc22 {
    color: #fff;
    background-color: #282F44;
    border: 2px solid#282F44;
}
.bc22:hover {
    background-color:#fff;
    cursor: pointer;
    color: #282F44;
}

.input-form2 { /* 얇고 각진 input */
    padding: 2px 10px;
    display: inline;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-form2:focus {
    box-shadow: 0 0 0 0.1rem #eee;
}
#nameIdSerarch-Box>form>select{
    padding: 2px 10px;
    width: 100px; 
    height: 30.19px; 
    border: 1px solid #ccc;
}

#memberlist-btn{
    position: absolute;
    right: 240px;
}


#titleContentSerarch-Box{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}



/* 삭제버튼 */
.bc77 {
    color: rgba(248, 95, 115, 1);
    background-color: #fff;
    border: 2px solid rgba(248, 95, 115, 1);
}
.bc77:hover {
    background-color: rgba(248, 95, 115, 1);
    color: #fff;
    cursor: pointer;
}

#titleContentSerarch-Box>select{
    padding: 3px;
}


/*모달*/
#layoutSidenav_content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid px-4{
    background-color: slategrey;
    flex-grow: 1;
} 

.modalmodel-wrap{
    width: 100vw;
    height: 100vh; 
    background-color: rgba(0,0,0,0.5);
    position: absolute; /*화면에 모달 화면이 따라다니게 하기*/
    top: -146px;
    left: -100px;
    display: none; /*최초에는 보이지 않고 buttun을 눌렀을시 화면이 나오게 하기 위해 */
    justify-content: center;
    align-items: center;
}

/* 일정이상 떨어지면 작아지지 않도록 min-width랑 height를 줌 */
.modal-modal{
    background-color: #fff;
    width: 55vw;
    min-width: 300px;
    height: 90vh;
    min-height: 200px;
    margin: 0 auto;
    border-radius: 10px;
/*     height: calc(90vh -80px); */
    overflow-y: auto;
    margin-top: 30px;
}

/* 공지사항 글씨 */
.modal-top>p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #282F44;
    font-size: 17px;
    font-family: ns-bold;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* #modalmodal-Btn{
    float: right;
} */
#modalmodal-Btn{
    margin-top: 74px;
    background-color: #282F44;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 닫기 버튼 크기(모달) */
.bs4 {
    width: 100%;
    padding: 1.3rem;
    font-size: 1.2em;
}

.dmFrm{
    padding-top: 20px;
    width: 50vw;
    margin: 0 auto;
}


/* 답장/ 닫기  */
.btn {
    /* padding: 1rem; */
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
}
.bc11 {
    color: #fff;
    background-color: #282F44;
    border: 2px solid rgba(37, 42, 52, 1);
}
.bc11:hover {
    background-color: #fff;
    cursor: pointer;
    color: #282F44;
}

/* 공지사항 리스트  */
tbody>tr>td:nth-child(6){
    cursor: pointer;
    font-family: ns-bold;
}


#oneNotice>tbody>tr>td{
    height: 50px;
}
#oneNotice>thead>tr>th{
	width: 200px;
}

#admin-noticeTitle{
    font-family: ns-blod;
}
/*
tbody>tr>td:nth-child(2):hover{
    cursor: pointer;
    text-decoration: underline;
    color: #E6AF2E;

}
*/
/* 이전 다음글 버튼 */
#pre-btn{
    margin-bottom: 10px;
}

/* X버튼 */
.modal-top{
    display: block;
}

.modal-top .close-area{
    position: absolute;
    color: #fff;
    top: 20px;
    left: 1447px;
    cursor: pointer;
}
#modalmodal-Btn{
    overflow: hidden;
}
#admin-noticeUpdate{
    float: left;
}






