<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- null값이 발생하면 빈칸("")이 아닌 null로 처리 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.pet.model.vo.Pet" alias="pet"/>
		<typeAlias type="kr.or.pet.model.vo.PetCheckList" alias="petChk"/>
		<typeAlias type="kr.or.partner.model.vo.Partner" alias="p"/>
		<typeAlias type="kr.or.manager.model.vo.Manager" alias="g"/>
		<typeAlias type="kr.or.partner.model.vo.TrainerBoard" alias="tb"/>
		<typeAlias type="kr.or.partner.model.vo.PartnerFileVO" alias="pfv"/>
		<typeAlias type="kr.or.dm.model.vo.DirectMessage" alias="dm"/> 
		<typeAlias type="kr.or.booking.model.vo.Booking" alias="b"/> 
		<typeAlias type="kr.or.manager.model.vo.NoticeG" alias="ng"/>
		<typeAlias type="kr.or.manager.model.vo.FileVOG" alias="fvg"/>
		<typeAlias type="kr.or.pet.model.vo.Pet" alias="pet"/>
		<typeAlias type="kr.or.booking.model.vo.Booking" alias="b"/>
		<typeAlias type="kr.or.main.partner.board.model.vo.PartnerBoard" alias="pb"/>
		<typeAlias type="kr.or.main.partner.board.model.vo.PartnerBoardFileVO" alias="pbf"/>
		<typeAlias type="kr.or.review.model.vo.Review" alias="r"/>
	</typeAliases>
</configuration>