@charset "UTF-8";

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #42586A;
}

.genderImgWrap{
	display:flex;
	justify-content: center;
}
#genderWrap{
	margin-top: 15px;
	width: 60%;
	min-width: 400px;
	
}

.content-wrap{
	display:flex;
}
.content-wrap>form{
	width: 80%;
}
.personImg{
	padding-left: 5px;
	width: 50%;
	margin-left: 23px;
}
.custom-radio-button__container input[type="radio"]:checked + .custom-radio-button {
  border: 4px solid #e94174;
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, .5);
}
.custom-radio-button__container input[type="radio"] {
  display: none;
}
.custom-radio-button {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  padding: 15px 5px 25px;
  border: 4px solid #979797;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  height: 60%;
  box-sizing: content-box;
  margin-right: 15px;
}
.genderT{
	font-size: 20px;
}
.content-field {
    margin-top: 15%;
    margin-left: 40%;
    margin-bottom: 15%;
    width: 80%;
}
.content-field label{
    font-size: 20px;
    margin-top: 15px;
}
.content-field input{
	width: 60%;	
	height: 50px;
	background-color: transparent;
	color: #fff;
	border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border: 2px solid #625b4b;
    min-width: 400px;
}
.content-field input:focus{
	border: 2px solid #cda45e;
	outline: 0;
}
.content-field input::placeholder{
	color: #cda45e;
}

#joinBtn{
	margin-top: 30px;
	height: 80px;
}
#joinBtn:hover{
	background-color: #cda45e;
}