#main{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 160px;
    justify-content: center;
}

/* 마이페이지 전체 틀 */
.mypage{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #1a1814;
    padding: 0;
    justify-content: center;
    overflow: auto;
}
.mypage::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.mypage-container{
    width: 920px;
    margin: 0;
    padding: 0;
    position: relative;
}

/* 마이페이지 왼쪽 메뉴 */
.closeNav{
	display: none !important;
}
#mypage-nav{
    width: 200px;
    position: fixed;
    margin-top: 5vh;
    transition-duration: 0.5s;
    left: 5vw;
}
#mypage-nav.on{
    position: fixed;
    bottom: 15vh;
    transition-duration: 0.5s;
    left: 5vw;
}
#mypage-nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mypage-nav>ul>li>a{
    display: block;
    line-height: 60px;
    text-align: center;
    background-color: #26231d;
    color: #fff;
}
#mypage-nav>ul>li>a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #cda45e;
    transition-duration: 0.3s;
}
#mypage-nav>ul>li>.active{
    background-color: rgba(255, 255, 255, 0.2);
}

/* 마이페이지 오른쪽 컨텐츠 */
#mypage-content{
    margin-left: 200px;
}
#title {
    height: 80px;
    padding-top: 35px;
    border-bottom: 5px solid #e6e3e3;
    width: 600px;
}
#title>h4{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#content-wrap{
    margin-top: 20px;
    margin-left: 15px;
}
#content{
    padding-top: 20px;
    border: 1px solid #fff;
    width: 80%;
    height: 500px;
    overflow: scroll;
}
#content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.hrCss{
	border: 0;
    height: 3px;
    background: #faf0f0;
    width: 550px;
    margin-left: 10px;
}
#title>h4{
	display: inline-block;
}
.petLogo{
	width: 28px;
	height: 28px;
	margin: 3px;
	margin-bottom: 12px;
}

.pet-wrap{
	width: 500px;
	height:130px;
	margin: 0 auto;
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 35px;
}
.pet-wrap:hover{
	cursor: pointer;
	color: #ffb347;
}
.petProfile{
	width: 130px;
	height: 130px;
	display: inline-block;
	border: 2px solid #fff;
	box-sizing: content-box;
}
.info-wrap{
	display:inline-block;
	height: 130px;
    width: 360px;
}

.addPetSpan{
	color: white;
	font-size: 30px;
	font-weight: bolder;
	line-height: 130px;
}
.addPetLink:hover .addPetSpan{
	color: #ffb347;
}
.petName{
	border: 1px solid #fff;
    width: 50%;
    margin: 20px;
    font-size: 20px;
    font-weight: bolder;
	margin-left: 50px;
	text-align:center;
}
.petInfo{
	margin-left: 50px;
    font-size: 17px;
    width: 70%;
}

.img_btn-wrap{
	display: flex;
	justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.img_btn-wrap>button{
	margin-right: 40px;
	margin-left: 40px;
}
.btn-img{
	position:relative;
	margin: 20px;
	background: none;
	border: 10px solid #ccc;
	border-radius: 20px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.petType{
	font-size: 20px;
	font-weight: bolder;
	display: block;
	padding-top: 225px;
}
.text-active{
	font-size: 60px;
	font-weight: bolder;
	display: block;
	color: white;
	position: relative;
	transition-duration: 0.6s;
}

.petBtn1.active {
	background: transparent url("/resources/img/maltipoo.jpg") center / 100% no-repeat;
	transition-duration: 0.3s;
}
.petBtn1{
	background: url("/resources/img/dogBlack.png") center / 70% no-repeat;
	transition-duration: 0.3s;
	
}
.petBtn1.active::before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.2);
	z-index: 0;
}
.petBtn2.active {
	background: transparent url("/resources/img/1652337370806_0.jpg") center / 100% no-repeat;
	background-size: cover;
	transition-duration: 0.4s;
}
.petBtn2.active::before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.2);
	z-index: 0;
}
.petBtn2{
	background: url("/resources/img/catBlack.png") center / 70% no-repeat;
	transition-duration: 0.4s;
}
.backTag{
	position: relative;
    font-size: 20px;
    color: #fff;
    left: 700px;
    top: 200px;
	cursor: pointer;
}
.backTag:hover{
	color: #ffb347 !important;
	font-weight: bolder;
}




/* 펫 상세보기 모달 */
.pdModal-wrap{
	display: flex;
	justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: scroll;
}
.pdModal-wrap::-webkit-scrollbar{
	display:none;
}
.petDetail-wrap{
	width: 800px;
	height: 1000px;
	background-color: #fff;
	border: 3px solid black;
	margin-top: 20vh;
	margin-bottom: 50px;
}
.pdTable{
	color: black;
	margin: 0 auto;
	margin-top: 10px;
	width: 740px;
	height: 300px;
	font-size: 25px;
	font-weight: bolder;
}
.pdTable td{
	width: 90px;
}
.answerSpan{
	width: 140px;
	border-bottom: 2px solid #ffb347;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal;
	color: rgba(0,0,0,0.7);
}
.pdProfileTd{
	border: 1px solid black;
	width: 250px !important;
}
.pdMidDiv{
	width: 740px;
	margin: 0 auto;
	color: black;
	margin-top: 5px;
}
.pdCharacter{
	width: 726px;
    height: 240px;
    border: 2px solid rgba(255, 179, 71, 0.3);
    resize: none;
    outline:none;
}
.pdBotDiv{
	width: 800px;
	margin: 0 auto;
	height: 410px;
	margin-top: 5px;
	color: black;
}
.pdGraph{
	display: inline-block;
	width: 240px;
	height: 270px;
	border: 2px solid rgba(255, 179, 71, 0.3);
}
.pdBtn-wrap{
    display: inline-block;
    width: 210px;
    height: 150px;
    position: relative;
    right: -50px;
    bottom: 30px;
}
.pdBotDiv>div{
	margin-left:25px;
	margin-top: 3px;
}
#radar-chart{
	margin-left: 10px;
}
.pdGraph-detail{
	display: inline-block;
    width: 300px;
    position: absolute;
    height: 250px;
}
.pdGraph-detail>textarea{
	width: 100%;
	height: 100%;
	resize: none;
	border: 1px solid rgba(255, 179, 71, 0.2);
	outline:none;
}
.pdBtn{
	display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
}
.pdBtn:hover{
	background-color: #ffb347;
	color: #fff;
}