#main{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 160px;
    justify-content: center;
}

/* 마이페이지 전체 틀 */
.mypage{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #1a1814;
    padding: 0;
    justify-content: center;
    overflow: auto;
}
.mypage::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.mypage-container{
    width: 70%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* 마이페이지 왼쪽 메뉴 */
#mypage-nav{
    width: 200px;
    position: fixed;
    bottom: 15vh;
    transition-duration: 0.5s;
}
#mypage-nav.on{
    position: absolute;
    bottom: 10vh;
    transition-duration: 0.5s;
}
#mypage-nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mypage-nav>ul>li>a{
    display: block;
    line-height: 60px;
    text-align: center;
    background-color: #26231d;
    color: #fff;
}
#mypage-nav>ul>li>a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #cda45e;
    transition-duration: 0.3s;
}
#mypage-nav>ul>li>.active{
    background-color: rgba(255, 255, 255, 0.2);
}

/* 마이페이지 오른쪽 컨텐츠 */
#mypage-content{
    margin-left: 300px;
}
#title{
    height: 80px;
    padding-top: 35px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#title>h4{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#content-wrap{
    margin-top: 20px;
}
#content{
    padding-top: 20px;
    padding-left: 15%;
}
#content>form>div{
    height: 40px;
    font-size: 18px;
    margin-bottom: 30px;
}
#content>form>#gender-div{
    height: 40px;
}
#content>form>div>label:first-child{
    width: 120px;
    font-weight: bold;
    color: #cda45e;
}

/* input[text,submit]디자인 수정 */
input[type=text], input[type=password]{
    width: 400px;
    line-height: 40px;
    background-color: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 22px;
    font-size: 16px;
}
input[type=text]:focus, input[type=password]:focus{
    color: #cda45e;
}
input[type=submit]{
    width: 525px;
    height: 60px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
}
input[type=submit]:hover{
    background-color: #ffb347;
    transition-duration: 0.3s;
}


/* input[radio]디자인 수정 구원님이미지넣기*/
input[type=radio]{
    display: none;
}
.radio-label{
    width: 198px;
    line-height: 40px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-weight: bold;
}
.radio-label:hover{
    background-color: #ffb347;
    transition-duration: 0.3s;
}
input[type=radio]:checked+.radio-label{
    background-color: #ffb347;
}

/* span조절 */
input+span{
    display: block;
    width: 400px;
    font-size: 13px;
    margin-left: 150px;
}




.hrCss{
	border: 0;
    height: 5px;
    background: #ccc;
    width: 530px;
}
.weightDiv{
	position: relative;
}
.weightSpan{
	position: absolute;
	right: 135px;
	top: 8px;
}
.noteSpan{
	display:block;
	margin-bottom: 10px;
}
#pNotes{
	width: 530px;
	height: 150px;
    line-height: 40px;
    background-color: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 22px;
    font-size: 16px;
    resize: none;
    overflow:auto;
}
#pNotes:focus{
    color: #cda45e;
}
#pNotes::-webkit-scrollbar{
	display:none;
}

.chk-wrap{
	display: block;	
}

.chksBtn{
	width: 530px;
	height: 50px;
	color: #fff;
	font-weight: bolder;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.chksBtn:hover{
	background-color: #ffb347;
    transition-duration: 0.3s;
}
#title>h4{
	display: inline-block;
}
.dogLogo{
	width: 28px;
	height: 28px;
	margin: 3px;
	margin-bottom: 12px;
}
/*체크리스트 모달*/
.chk-modal{
	position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 125vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  	display:none;
    text-align: center;
}
.modal-body{
	color: black;
	width:50%; 
	height:70%;
  	background:#fff; 
  	border-radius:10px;
  	position:relative; 
  	top:30%; 
  	left:50%;
  	margin-top:-100px; 
  	margin-left:-260px;
  	text-align:center;
  	box-sizing:border-box; 
  	padding:30px 0;
  	line-height:23px; 
  	overflow: auto;
}
.modal-label{
    width: 400px;
    line-height: 30px;
    text-align: left;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-weight: bold;
    padding-left: 5px;
}
.modal-label:hover{
    background-color: #ffb347;
    transition-duration: 0.3s;
}
.modal-labelchecked{
    background-color: #ffb347;
}
.q1>p{
	margin-left: -2px;
	font-weight: bolder;
}