#main{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 160px;
    justify-content: center;
}

/* 마이페이지 전체 틀 */
.mypage{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #1a1814;
    padding: 0;
    justify-content: center;
}
.mypage-container{
    width: 70%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* 마이페이지 컨텐츠 */
#mypage-content{
    margin-left: 300px;
}
#title{
    height: 80px;
    padding-top: 35px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#title>h4{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#content-wrap{
    margin-top: 20px;
}
#content{
    padding-top: 20px;
}

/* input[type=text] border, 배경색 없애기 */
#content input[type=text]{
    border: none;
    background-color: transparent;
}
#content input[type=text]:focus{
    outline: none;
}

/* 탭div[받은메시지/보낸메시지] */
#tab-wrap{
    display: flex;
}
#tab-wrap>div{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    width: 110px;
    justify-content: center;
}
#tab-wrap>div:first-child{
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
#tab-wrap>div:hover{
    color: #cda45e;
    cursor: pointer;
    transition-duration: 0.3s;
}
.active-tap{
    color: #cda45e;
}

/* 버튼div */
#btn-wrap{
    margin: 15px 0;
}
#btn-wrap>button{
    width: 80px;
    margin-left: 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
}
#delete{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}
#reading{
    background-color: #cda45e;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
#btn-wrap>button:hover{
    background-color: #ffb347;
    transition-duration: 0.3s;
}

/* 읽지않음 필터div */
#msg-filter{
    float: right;
    margin-right: 10px;
    padding: 0px 15px;
    height: 30px;
    line-height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-sizing: border-box;
}
#msg-filter>span{
    font-size: 14px;
}
#filter-div{
    color: rgba(255, 255, 255, 0.2);
}
#msg-filter>.filter:hover{
    color: #cda45e;
    transition-duration: 0.3s;
    cursor: pointer;
}

/* 메시지함 */
.msg-box{
    margin: 10px;
}
.msg-box>table{
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}
.msg-box>table>thead{
    background-color: rgba(0, 0, 0, 0.2);
}
.msg-box>table>thead td{
    font-weight: bold;
}
.msg-box>table td{
    padding: 10px 10px 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.msg-box>table td>a{
    display: block;
    width: 220px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.msg-box>table td>a:hover{
    color: #cda45e;
}

/* 컬럼이름 칸 너비 조정 */
.th-checkbox{
    width: 45px;
}
.th-category{
    width: 95px;
}
.th-sender, .th-receiver{
    width: 130px;
}
.th-date{
    width: 130px;
}
.th-readcheck{
    width: 90px;
}

/* 보낸사람 드롭박스 */
.th-sender>button{
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.th-sender>button:hover{
    color: #6f5ecd;
    transition-duration: 0.3s;
}
.th-sender>button:focus{
    outline: none;
}
.dropdown-menu{
    --bs-dropdown-min-width: 0;
}

/* 체크박스 디자인 수정 */
.form-check-input:checked {
    background-color: #ffb347;
    border-color: #fff;
}

/* 모달창 */
body{
    position: relative;
}
.msg-modal{
    position: fixed;
    width: 500px;
    height: 650px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
/* 모달창 헤드 */
.msg-modal-head{
    height: 40px;
    background-color: #ffb347;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
#msg-modal-title{
    float: left;
    color: #fff;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 17px;
}
#close-btn{
    float: right;
    background-color: rgb(255, 50, 50);
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 15px;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#close-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}
/* 모달창 컨텐츠 */
.msg-modal-content{
    padding: 20px 30px;
}
.msg-modal-content>div{
    margin-bottom: 20px;
}
.msg-modal-content input[type=text]{
    border: 0;
    background-color: transparent;
    color: #000;
}
.msg-modal-content textarea{
    width: 100%;
    height: 400px;
    resize: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
}
.msg-modal-content input:focus, .msg-modal-content textarea:focus{
    outline: none;
}
.msg-info>span{
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.msg-info>input{
    margin-left: 5px;
}
.msg-modal-content>.msg-sender{
    margin-bottom: 10px;
}
/* 모달창 답장버튼 */
.msg-modal-content>.msg-btn-wrap{
    display: flex;
    justify-content: center;
    margin: 0;
}
.msg-btn-wrap>input{
    width: 130px;
    height: 55px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ffb347;
    text-align: center;
}
.msg-btn-wrap>input:hover{
	cursor: pointer;
    background-color: #ffcc33;
    color: #000;
    transition-duration: 0.8s;
}