#main{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 160px;
    justify-content: center;
}

/* 마이페이지 전체 틀 */
.mypage{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #1a1814;
    padding: 0;
    justify-content: center;
}
.mypage-container{
    width: 70%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* 마이페이지 컨텐츠 */
#mypage-content{
    margin-left: 300px;
}
#title{
    height: 80px;
    padding-top: 35px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#title>h4{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#content-wrap{
    margin-top: 20px;
}
#content{
    padding-top: 20px;
}

/* input[type=text] 너비 조정, border, 배경색 없애기 */
#content input[type=text]{
	width: 100%;
    border: none;
    background-color: transparent;
}
#content input[type=text]:focus{
    outline: none;
}

/* 이용내역 표 */
.service-box{
    margin: 10px;
}
.service-box>table{
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}
.service-box>table>thead{
    background-color: rgba(0, 0, 0, 0.2);
}
.service-box>table>thead td{
    font-weight: bold;
    font-size: 16px;
}
.service-box>table td{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.service-box>table .td-start-date{
	text-align: left;
	padding-left: 25px;
	width: 115px;
}
.service-box>table td>a{
	color: #000;
}
.service-box>table .td-category>a, .service-box>table .td-state>a{
	color: rgba(0,0,0,0.6);
}
.service-box>table .td-cancle-review>a{
    color: #6497a2;
}
.service-box>table .td-cancle-review>.star{
	color: #ffb347;
}
.service-box>table td>a:hover, .service-box>table .td-cancle-review>.star:hover{
    color: #cda45e;
}
.td-start-date, .td-state, .td-cancle-review{
	font-weight: bold;
}
.service-box>table .td-state>a{
	position: relative;
}
.material-symbols-outlined.detail-icon{
	position: absolute;
	top: 3px;
	right: -17px;
	font-size: 15px;
	color: #cda45e;
}
/* 모달창 */
body{
    position: relative;
}
.review-modal{
    position: fixed;
    width: 500px;
    height: 650px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
/* 모달창 헤드 */
.review-modal-head{
    height: 40px;
    background-color: #ffb347;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
#review-modal-title{
    float: left;
    color: #fff;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 17px;
}
#close-btn{
    float: right;
    background-color: rgb(255, 50, 50);
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 15px;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#close-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}
/* 모달창 컨텐츠 */
.review-modal-content{
    padding: 20px 30px;
}
.review-modal-content>div{
    margin-bottom: 20px;
}
.review-modal-content input[type=text]{
    border: 0;
    background-color: transparent;
    color: #000;
}
.review-modal-content textarea{
    width: 100%;
    height: 300px;
    resize: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
}
.review-modal-content input:focus, .review-modal-content textarea:focus{
    outline: none;
}

/*평점*/
.review-rate{
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1.5px solid rgba(0,0,0,0.2);
}
.star {
	position: relative;
	color: #ddd;
}
.star:hover{
	color: #FDDF9D;
}
.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
	border: 0;
}
.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: #ffb347;
	overflow: hidden;
	pointer-events: none;
}
[name=reviewRate]{
	margin: 0px 5px;
	width: 30px;
}
.rate-label{
	display: inline-block;
	width: 40px;
}
.rate-comment{
	margin-top: 3px;
	font-size: 14px;
	color: #989491;
	float: right;
}

/* 사진첨부 */
.attach-wrap{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.attach-wrap>div{
	width: 90px;
	height: 90px;
	background-color: rgba(0,0,0,0.1);
}
.attach{
	display: flex;
	justify-content: center;
	align-items: center;
}
.attach:hover{
	cursor: pointer;
	background-color: #FAEBCC;
}
.attach>span{
	font-weight: bold;
	color: rgba(0,0,0,0.6);
}

/* 모달창 답장버튼 */
.review-btn-wrap{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.review-btn-wrap>input{
    width: 130px;
    height: 55px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ffb347;
    text-align: center;
}
.review-btn-wrap>input:hover{
	cursor: pointer;
    background-color: #ffcc33;
    color: #000;
    transition-duration: 0.8s;
}