@charset "UTF-8";
*{
	box-sizing: border-box;
}

.mainPage-wrapper{
	width: 100%;
	background-color: #f8fafb;
	margin-top: 150px;
	color: #565655;
	
}
.page-top{
	height: 50px;
	padding: 10px 20px;
	border-bottom: 2px solid #cda45e;
	font-weight: 600;
	text-align: center;
}
.page-top>span{
	font-size: 1.1em;
	font-weight: 600;
}
.section-inner{
	width: 720px;
	padding: 15px 20px 26px;
	margin: 0 auto;
	
}
.dateDiv, .timeDiv{
	height: 50px;
	padding: 10px 0px;
	line-height: 40px;
	overflow: hidden;
	border-bottom: 2px solid #565655;
}
.dateDiv div, .timeDiv div{
	float: left;
	height: 40px;
	line-height: 40px;
}

.showDate, #showDate, .showTime{
	font-size: 18px;
	font-weight: 500;
	margin-left: 20px;
}
.time-wrapper{
	margin: 0;
	padding: 13px 0 17px;
	border-bottom: 2px solid #565655;
}
.time_tit{
	display: block;
	padding-bottom: 7px;
	padding-left: 7.5px;
	font-size: 17px;
	color: #333;
}
.list_time{
	list-style: none;
	margin: 0; padding: 0;
	overflow: hidden;
}
.unAvailable_time{
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	background-color: #e2e5e8;
	border: 1px solid #e2e5e8;
	margin: 10px 10px;
	text-align: center;
	font-size: 18px;
	color: #ccc;
}
.available_time{
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	background-color: #f3af082b;
	border: 1px solid #cda45e;
	border-radius: 3px;
	margin: 10px 10px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

.section-title{
	padding: 26px 1px 10px 15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: -0.3px;
	color: #242424;
	margin-bottom: 10px;
	margin-top: 30px;
}
.booking-summary{
	font-size: 16px;
	line-height: 24px;
	border-top:4px solid #565655;
}
.sum{
	width: 90%;
	margin-left: 20px;
	margin-top:20px;
}
.sum th{
	width: 20%;
	height: 40px;
}
.sum span{
	color: #ff5757;
	font-size: 24px;
}
#totalFee{
	padding-right: 20px;
}
.bookingInfo{
	width: 90%;
	margin: 0 auto;
	vertical-align: middle;
}
.bookingInfo th{
	width: 30%;
}
.inputStyle{
	padding-left: 14px;
	width: 100%;
	height: 45px;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: -0.3px;
	border: 1px solid #ced4da;
	outline: none;
}
.bookingInfo textarea{
	width: 100%;
	padding: 10px 14px;
	border: 1px solid #ced4da;
	outline: none
}
.payBtn{
	width: 80%;
	height: 80px;
	margin-top: 30px;
	background-color: #E6D5B8;
	font-size: 1.3em;
	color: #1B1A17;
	border: none;
	border-radius: 5px;
}
.payBtn:hover{
	text-decoration: underline;
	font-weight: bold;
	background-color: #F0A500;
}

<!-- 시간선택비활성화 -->
